
    <body>
      <br><br><br><br><br>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-xl-6 mx-auto">
            <div class="card card-signin flex-row my-5" style="background-color: rgba(255, 255,255, 0.2);">
              <div class="card-img-left d-none d-md-flex" >
              </div>
              <div class="card-body">
                <h5 class="card-title text-center">Register</h5>
                <form class="form-signin">
                  <div class="form-label-group">
                    <label for="inputUserame"  style="font-weight: bold; color :rgba(0, 0,0, 1)" >Username</label>
                    <input type="text" #Username class="form-control" placeholder="Username" value=""  required autofocus>
                  </div> <br>
                  <div class="form-label-group">
                    <label for="inputEmail" style="font-weight: bold; color :rgba(0, 0,0, 1)">Email address</label>
                    <input type="email" #Email class="form-control" placeholder="Email address"  value="" required>
                  </div>
                   <br>
                  <div class="form-label-group">
                    <label for="inputPassword" style="font-weight: bold; color :rgba(0, 0,0, 1)">Password</label>
                    <input type="password" #Password class="form-control" placeholder="Password" value="" (change)="onSubmit(Username,Email,Password)" required>
                  </div>
                  <br>
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="signUp()" style="color:white;background-color: black;">Sign up</button>
               </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </body>