body {
    background-image: url('../../assets/images/pexels-brotin-biswas-518543.jpg'); 
     background-color: black;
    background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   
}