
<!--
<div *ngFor="let post of posts" style ="border: '1px solid black' ">
  <h1>{{post.username}}</h1>
</div> -->
<body>
  <br><br><br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xl-6 mx-auto">
        <div class="card card-signin flex-row my-5" style="background-color: rgba(255, 255,255, 0.2);">
          <div class="card-img-left d-none d-md-flex">
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Sign in</h5>
            <form class="form-signin">
                       <br>
              <div class="form-label-group">
                <label for="inputEmail" style="font-weight: bold; color :rgba(0, 0,0, 1)" >Email address</label>
                <input type="email" #Email class="form-control" placeholder="Email address"  value="" required>
              </div>
               <br>
              <div class="form-label-group">
                <label for="inputPassword" style="font-weight: bold; color :rgba(0, 0,0, 1)" >Password</label>
                <input type="password" #Password class="form-control" placeholder="Password" value=""  required>
              </div>
              <br>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"  (click)="postMethod(Email,Password)" style="color:white;background-color: black;">Sign in</button>
              <br>
              <label style="font-weight: bold; color :rgba(0, 0,0, 1); text-align:center;">Don't have an account? <a routerLink ="/signup">Sign up</a></label>
           </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>

<form >

  <!-- <label>  <b>Email</b> </label>
  <input #Email type="email" placeholder="Enter Email"  value="" >

  <br><br>

  <label>    <b>Password</b>  </label>
  <input #Password type="password" placeholder="Enter Password"  value=""   >
  <button type="button"   (click)="postMethod(Email,Password)" >
    <span>login</span></button></form> -->
<!--
<div *ngFor="let post of posts" style ="border: '1px solid black' ">
  <h1>{{post.username}}</h1>
</div> -->
<!-- <button (>
  <span>Go to master Page</span>
</button> -->