
<nav class="navbar navbar-fixed-top  navbar-expand-sm navbar-light nav">
  <img src='../../assets/images/logo.jpeg' style="width: 50px; height:50px">
    <a class="navbar-brand" href="#" style="color: white;">Newsy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" routerLink ="/home" style="color: white; margin-left: 20px; font-size: 15px;">Home<span class="sr-only">(current)</span></a>
        <a class="nav-link" routerLink ="/myprofile" style="color: white; margin-left: 20px; font-size: 15px;">My Profile</a>
        <a class="nav-link" routerLink ="/favorite" style="color: white; margin-left: 20px; font-size: 15px;">Favorite</a>
        <a class="nav-link" routerLink ="/" tabindex="-1" aria-disabled="true" id="signout" click=" logout()">Sign out</a>
      </div>
    </div>
  </nav>
 